doctype html
link(rel='stylesheet' href='/static/style.css')
link(rel='stylesheet' media="screen and (max-width: 1134px)" href='/static/phone.css')
block content
.nav.opennav 
    ul
        li
        a(href='https://github.com/ricky-aufvaa') .github.
        li
        a(href='https://www.reddit.com/user/Sick__sock') .reddit.
        li
        a(href='#') .recognition.
        li
        a(href='https://www.linkedin.com/in/sarabjot-singh-93256b22b/') .linkedin.
//- script(src='/app.js')

