extends base.pug

append content
    .opencontainer
        .myphoto
            a(href='/')
                img(src='./static/_DSC0195.jpg' alt='')
            h2 Sarabjot Singh
        .openpanel(style='background-image:url(./static/DSC006288.jpg);')
            
                
            .text 
               h3  
               h2    Recommendation list : -
               a(href='/books') 1984 - George Orwell
               a(href='/books') Khushwantnama - Khushwant Singh
               a(href='/books') Metamorphosis - Franz Kafka  