extends base.pug

append content
    .opencontainer
        .myphoto
            a(href='/')
                img(src='./static/_DSC0195.jpg' alt='')
            h2 Sarabjot Singh
        .openpanel(style='background-image:url(./static/DSC01053.jpg);')
            
                
            .text 
               h3  
               a(href='/philosophy') ON PHOTOGRAPHERS:- 
               a(href='/philosophy') ON GOD:- 
               a(href='/philosophy') ON SUCCESS:- 
               a(href='/philosophy') ON ARCHITECTURE:-  
//- block append content
    //- html
//-   meta(charset='UTF-8')
//-   meta(http-equiv='X-UA-Compatible' content='IE=edge')
//-   meta(name='viewport' content='width=device-width, initial-scale=1.0')
//-   title Website


