extends base.pug

append content
    .opencontainer
        .myphoto
            a(href='/')
                img(src='./static/_DSC0195.jpg' alt='')
            h2 Sarabjot Singh
        .openpanel(style='background-image:url(./static/DSC01053.jpg);')
            .text 
               h3  
               a(href='https://www.instagram.com/p/CR1t6tAjTmX/') ON PHOTOGRAPHERS:- 
               a(href='https://www.instagram.com/p/CZ7eRbkBUD4/') ON GOD:- 
               a(href='/philosophy') ON SUCCESS:- 
               a(href='https://www.instagram.com/p/CVnSX7aPQ0I/') ON ARCHITECTURE:-  
               a(href='/philosophy') ON BEAUTY:-  
               a(href='https://www.instagram.com/p/CbibGhEP0QS/') ON CGC,Landran:-  
               a(href='https://www.instagram.com/p/CWjJtK9ql6o/') ON the faux sense of reality:- 
               a(href='https://www.instagram.com/p/CWMRMewqEqG/') ON late nights:-  
               a(href='https://www.instagram.com/p/CUXVzFPv2ie/') ON Sartre:-  
            
                
//- block append content
    //- html
//-   meta(charset='UTF-8')
//-   meta(http-equiv='X-UA-Compatible' content='IE=edge')
//-   meta(name='viewport' content='width=device-width, initial-scale=1.0')
//-   title Website


