extends base.pug

append content
    .opencontainer
        .myphoto
            a(href='/')
                img(src='./static/_DSC0195.jpg' alt='')
            h2 Sarabjot Singh
        .openpanel
            .openphoto 
                a(href="https://www.instagram.com/ric_clicks/") 
                    img(src="./static/phoback1.jpg", alt="")
                    img(src="./static/phoback2.jpg", alt="")
                    img(src="./static/phoback3.jpg", alt="")
                    img(src="./static/phoback4.jpg", alt="")