@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: white;
    font-family: 'Ubuntu', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
    

}
.container{
    display: flex;
    flex-direction: row;
    position: relative;
    
}
.panel{
    font-family: 'Anton', sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    background-size:500%;
    height: 40vh;
    position: relative;
    width: 8vw;
    margin: 50px;
    border-radius: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}
.panel h3{
    position: absolute;
    text-align: center;
    letter-spacing: 2px;
    transform: rotate(-90deg);
    
    font-size: 1.2em;
}

.myphoto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.myphoto img{
    height: 13rem;
    margin-right: 4rem;
    transition: all 0.2s ease-in-out;
    
    
    
    

}




.myphoto img:hover{
    box-shadow: 4px 4px 4px grey;
    cursor: pointer;
}
.myphoto h2{
    font-family: 'Syne Mono', monospace;
    margin-left: 1vh;
    margin-right: 4rem;

}


/* hover */
.panel:hover{
    border: 2px solid rgb(73, 73, 73);
    transition: all ease-in-out 1s ;
    cursor:pointer;
    box-shadow: 5px 5px 10px grey;
animation-name: shake;
animation-duration: 0.22s;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
}
@keyframes shake{
    0%{
background-position: top left;
}
100%{
    background-position: top right;
}
}

/* active class */
.active{
   border: 2px solid purple;
   border-radius: 50px;
   width: 80vw;
   height: 100vh;
   
   background-position: center;
   position: absolute;
   top: 0;
   z-index: 2;
   left: 10vw;
   transition: all 0.1s ease-in-out;

   
}
.active h3{
    display: none;
}

.panel a{
    color: rgb(252, 134, 0);
    background-color: rgb(36, 33, 33);
    padding: 5px 5px;
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
}

.panel a:hover{
    background-color: transparent;
}
.btn{
    color: white;
    position: absolute;
    background-color: black;
    padding: 10px;
    border-radius: 20px;
    top: 40px;
    z-index: 5;
    visibility:hidden;
    transition: all 2s ease-in-out;
    outline: none;
}
.btn:hover{
    cursor: pointer;
    background-color: transparent;
    border:  1px solid white;
}

.nav{
    background-color: rgb(0, 0, 0);
    position: absolute;
    margin: 0;
    bottom: 0;
    /* margin-top: 100vh; */
    padding: 10px 10px;
    width: 100vw;
    display: flex;
    /* position: sticky; */
    justify-content: center;

}

.nav ul{
    list-style: none;
    padding: 0;
    display: flex;
    
    /* background-color: red; */
}
.nav li{
    list-style: none;
    margin: 0;
    /* padding: 20px 40px; */
    
}

.nav a{
    /* display: inline-block */
    text-decoration: none;
    margin: 2px 5px;
    color: rgb(252, 134, 0);
    padding: 15px 15px;
    transition: all 0.2s ease-in-out;

}

.nav a:hover{
    color: rgb(255, 255, 255);
    /* border:2px solid white; */
    /* border-radius: 30px; */
}

.opencontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.opencontainer img{
    height: 15rem;
    

    
}
.opencontainer a{
    margin-left: 10rem;
}
.opencontainer h2{
    margin-left: 10vw;
}
.openpanel{
    width: 50vw;
    height: 80vh;
    display: flex;
    border-radius: 2rem;
    justify-content: center;
    /* text-align: center; */
    overflow: hidden;
    align-items: center;
    background-size: cover;
    background-position-y: 40%;
    background-repeat: no-repeat;
    transition: all 0.3s ease-in-out;
    
    
}
.openpanel:hover{
    box-shadow: 10px 10px 10px grey, -20px -20px 20px grey;
}

.opencontainer .text{
    position: absolute;
    color: white;
    text-align: center;
    margin: 2rem 2rem;
    border-radius: 3rem;
    display: flex;
    flex-flow: wrap column;
    font-weight: bolder;
    /* justify-content: center;
    align-items: center; */
    /* width: 20%; */
    /* height: 2%; */
    font-size: medium;
    
    
    /* background-color: aquamarine; */
    

}
.opencontainer .text a{
    /* height: 20%; */
    color: white;
    font-weight: bolder;
    border: 2px solid white;
    padding: 10px 10px;
    border-radius: 2rem;
    transition: all 0.3s ease-in-out;
    margin: 1rem;
    background-color: rgba(128, 128, 128, 0.301);
    

}

.opencontainer .text a:hover{
    border-color: orangered;
    text-decoration: none;
}


.openphoto{
    display: flex;
    flex-flow: wrap row;


}
.openphoto img{
    border-radius: 3rem;
    height: 10rem;
    margin: 2rem;
    transition: all 0.2s ease-in-out;
}

.openphoto img:hover{
    box-shadow: 4px 4px 4px grey;
    cursor: pointer;
}

.opennav {
    padding: 0;
    
   
}
